:root{
    --pink: #b91a64;
    --white: white;
    --gray: lightgray;
}
body {

}
header {
    height: 120px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--pink);
    color: var(--white);
}
nav select {
    display:none;
}
header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
}

header nav ul li a {
    font-size: 25px;
    color: black;
    text-decoration: none;
    margin: auto;
}
p {
    font-size: 16px;
}
h2 {
    color: var(--pink);
}

.photo1 {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://st2.depositphotos.com/2605379/10670/i/950/depositphotos_106708760-stock-photo-girly-office-desktop-with-blank.jpg");
    background-size: cover;
    background-position: relative;
}

.photo1 img {
    position:absolute;
    top: 0;
    left: 5px;
    margin-top: 120px;
    border-radius: 20%;
    height: 400px;
    width: auto;
}

.contact-section{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--gray);
    color: black;
    text-align:center;
    

}

ul {
    padding-top: 1%;
}
.contact-section ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 5%;
/* float:*/
}
#background {
    background-color: var(--gray);
}
.principalimage img {
    display: block;
    width: 100%;
    margin: 0px 0px 5px 0px;
    height: 500px;
}
.card-body {
    border-left: var(--pink) solid 10px;
}
.content{
    border-bottom:transparent;
    border-top: transparent;
    border-left: transparent;
}
img:hover {
    box-shadow: -5px -5px 15px 15px #b91a64;
}
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 1.75rem;
}
#image1 {
    position:relative;
}
#link1 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    padding: 2%;
    margin-right: 12px;
    border: 10px solid var(--pink);
    border-style: dotted;
    border-width: thick;
    background-color: pink;
}

.secondaryimage img {
    height: 470px;
    display:flex;
    flex-wrap: wrap;
    float: left;
    padding: 1%;
}

#image2 {
    margin: 5px 5px 0px 4px;
    position:relative;
}

#image3 {
    margin: 5px 5px 0px 5px;
    position:relative;
}

#image4 {
    margin: 5px 5px 0px 5px;
    position:relative;
}

#image5 {
    margin: 5px 0px 0px 5px;
    position:relative;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .responsive {
        display: none;
    }
    /* nav select {
        display: inline-block;
    }
} */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {


    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* nav ul {
        display: none;
    }
    nav select {
        display: inline-block;
    } */


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}