:root{
    --pink: #b91a64;
    --white: white;
    --gray: lightgray;
}

.photo-background {
    height:17%;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/backgr.jpeg");
    background-size: cover;
    background-position: relative;
    display: inline-block;

};

.photo-background img{
    /* position: absolute;
    top: 0;
    left: 5px;
    margin-top: 120px;
    border-radius: 20%;
    height: 400px;
    width: auto;
    z-index: 1;
    margin-bottom: 0px; */
};
.content{
    border-bottom:transparent;
    border-top: transparent;
    border-left: transparent;
}
/* .content-section {

} */
#tags {
    /* position: absolute; */
    /* bottom: 0;
    right: 0; */
    /* z-index: 1; */
    /* background-color: white;
    padding: 2%;
    margin-right: 12px;
    border: 10px solid var(--pink);
    border-style: dotted;
    border-width: thick;
    background-color: pink; */
}

#myprojects {
    /* position: relative; */
}
#background {
    background-color: var(--gray);
}