:root{
    --pink: #b91a64;
    --white: white;
    --gray: lightgray;
}

.photo-background {
    height:17%;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: relative;
    display: inline-block;

};

.photo-background img{
    /* position: absolute;
    top: 0;
    left: 5px;
    margin-top: 120px;
    border-radius: 20%;
    height: 400px;
    width: auto;
    z-index: 1;
    margin-bottom: 0px; */
};
.content{
    border-bottom:transparent;
    border-top: transparent;
    border-left: transparent;
}
/* .content-section {

} */
#background {
    background-color: var(--gray);
}